@-moz-document domain("console.aws.amazon.com") {
/* Hide pin button */
a#nav-shortcutMenu {
    display:none !important;
}

/* Change label */
#nav-shortcutBar li[data-service-id] .service-label {
    display: none !important;
}
#nav-shortcutBar li[data-service-id] a:after {
    content: "TODO";
    display: inline-block;
    color: #fff;
    margin-left: 5px;
}


#nav-shortcutBar li[data-service-id=ec2] a:after {
    content: "EC2"
}
#nav-shortcutBar li[data-service-id=vpc] a:after {
    content: "VPC"
}
#nav-shortcutBar li[data-service-id=s3] a:after {
    content: "S3"
}
#nav-shortcutBar li[data-service-id=cp] a:after {
    content: "Pipeline"
}
#nav-shortcutBar li[data-service-id=eb] a:after {
    content: "Beanstalk"
}

}
