@-moz-document domain("console.aws.amazon.com") {
/* Unspecified region = red */ 
body #awsgnav #nav-menubar, body #awsgnav #nav-menubar .nav-menu, #nav-menu-right
{
    background-color: hsl(352, 74%, 48%);
}

/* Region filtering */ 
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id=eu-west-2],
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id^=us-],
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id^=ap-],
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id^=ca-],
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id^=eu-central-],
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id^=eu-north-],
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id^=sa-],
div[data-testid=awsc-nav-regions-menu-content] a[data-region-id^=af-]
{
    display: none !important;
}

div[data-testid="awsc-nav-more-menu-item-menu--regions-0"] li {
    padding-bottom: 0px !important;
    border-bottom: none !important;
}
div[data-testid="awsc-nav-more-menu-item-menu--regions-1"] {
    display: none !important;
}
div[data-testid="awsc-nav-regions-menu-content"] hr {
    display: none !important;
}
div[data-testid="awsc-nav-regions-menu-content"] div[aria-label="Manage Regions"] {
    display: none !important;
}
}

@-moz-document domain("eu-west-3.console.aws.amazon.com") {
body #awsgnav #nav-menubar, body #awsgnav #nav-menubar .nav-menu, #nav-menu-right
  {
    background-color: #232f3e;
  }
}

@-moz-document domain("eu-west-1.console.aws.amazon.com") {
body #awsgnav #nav-menubar, body #awsgnav #nav-menubar .nav-menu, #nav-menu-right
  {
    background-color: #0c8426;
  }
}
